body {
    font-family: Roboto, Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    height: 400px;
    width: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 60px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body1 {
    background-color: #1F2937;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
    gap: 100px;
}

.main-small-text,
.main-text {
    width: 800px;
    flex-wrap: wrap;
    text-align: left;
    color: #F9FAF8;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.baseball-field {
    height: 250px;
    width: 400px;
    object-fit: cover;
    object-position: 0 44%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 14px;
    border: none;
    padding: 14px;
    display: block;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 20px;
}

.infoboxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.infopics {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    padding: 4px;
    background-color: blue;
}

.text {
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 10px;
    padding-top: 6px;
}

.body3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 80px 0 80px 0;
}

.body3>div:nth-child(2) {
    align-self: flex-end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 50%;
}

.author {
    font-style: bold;
    font-weight: 900;
    font-size: 24px;
    margin-right: 25%;
}